@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

body{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Poppins';
}
/* Left Part */

.left-part{
  background-image: url('https://images.unsplash.com/photo-1532767153582-b1a0e5145009?q=80&w=2814&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  width: 50vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 5vw ;
}
.left-part h2{
  width: 60%;
  color: white;
}

/* Right Part */

.right-part{
margin: 0 auto;
position: relative;
width: 50vw;
}
.sign-in{
  margin: 30vh auto;
  width: 25vw;
}
.sign-in h2{
  text-align: left;
}
#welcome-container{
  width: 10vw;
  overflow-y: scroll;
}

#btn-login{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 2rem;
  transition: 1s;
  border: none;
  background-color: #223242;
  color: white;
  font-weight: 800;
}

#btn-login:hover{
  margin-top: 40px;
}

dialog{
  position: absolute;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  height: fit-content;
  padding: 15px;
  z-index: 10;
  border: none;
  box-shadow: 0px 0px 6px -1px #000000;
  border-radius: 8px;

}

.dialog-actions{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dialog-actions button{
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  margin: 15px 0 0;
}

#dialog-ko-btn{
  background-color: #67b99a;
  font-weight: 800;
}

#dialog-ko-btn[disabled]{
  color: grey;
  background-color: #bababa;
  font-weight: 800;
}

#dialog-ok-btn{
  color: rgb(137, 12, 12);
  background-color: #FF1F1F;
  font-weight: 800;
}

#dialog-ok-btn[disabled]{
  color: grey;
  background-color: #bababa;
  font-weight: 800;
}


.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

#welcome{
  width: 400px;
}

#reset-link{
  color: #eee;
}

#reset-link a{
  color: #dddddd;
  text-decoration: none;
}

.visible{
  display: block;
}
  
.not-visible{
  display: none !important;
}

#placeholder{
    white-space: nowrap;
    overflow: hidden;
    font-size: smaller;
    color: grey;
}